<!-- user should register account using session -->
<form action="#" method="POST">
    <label>
        Task Title:
        <input type="text" name="title" id="title">
    </label>
    <label >
    Task Description:
        <input type="text" name="description" id="description">
    </label>
    <select name="difficulty" id="difficulty">
        <option value="easy">easy</option>
        <option value="medium">medium</option>
        <option value="hard">hard</option>
    </select>
    <label>
        <input type="submit" value="submit">
    </label>
</form>