{% extends "layout.html" %}

{% block title %}Index - My Website{% endblock %}

{% block content %}
    <h2>Welcome to Quest Page!</h2>
    <a href="{{ url_for('add_quest') }}">Add quest</a>
    
    {% if quests %}
        <ul>
            {% for quest in quests %}
                <li>
                    {{quest.title}} -> {{ quest.difficulty }}
                    <a href="{{ url_for('get_quest', id = quest.id) }}">
                        Quest Details
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No available quests</p>
    {% endif %}
{% endblock %}

